body {
    background:#F6F6EF; 
    min-width: 35rem;
    margin: 0px !important; 
    font-family: Roboto, "Segoe UI", sans-serif; 
    font-weight: bold; 
    font-size: 12px;
}
.new {
    color:#000;
    font-size:14px;
    font-style:italic;
}
a {
    text-decoration:none; 
    color:rgb(0, 13, 159);
}
a:hover {text-decoration:underline;}
#hnIcon { vertical-align:middle }
#headerBar { 
    line-height: 25px; 
    padding: 10px; 
    background: rgb(206, 233, 255); 
    color:#222;
}
#feedHeader {clear:both;}
.title { 
    font-weight:bold; 
    font-size:15px; 
    margin-top:5px; 
}
#feed, #saved { 
    margin:10px; 
    font-size:12px; 
    padding-bottom:10px; 
}
#feed, #feed a:visited, #feed a.comments { color: #3846a180;}
.link { 
    margin: 3px 0 10px 0 ;
    white-space: pre-wrap;
}
.comments { 
    font-size:7pt; 
    margin-left:5px; 
}
.error {
    white-space: nowrap;
    color: red;
}
#toggleButton {
    width:100%; 
    border:none;
}
