body {
    color: #5168ff80;
    background:#1f1f1f; 
    min-width: 35rem;
    margin: 0px !important; 
    font-family: Roboto, "Segoe UI", sans-serif; 
    font-weight: bold; 
    font-size: 14px;
}

#trololo {
    visibility:hidden; 
    height:30px; 
    top:0px;
}

.new {
    color:rgb(132, 142, 255);
    font-size:12px;
    font-style:italic;
    font-weight: bold; 
}

.metadata {
    color:rgb(177, 177, 177);
    font-size:12px;
    font-style:italic;
}

blockquote {
    font: 1.4em 'Berkshire Swash', cursive;
    margin: 0;
  }
  
.container {
    margin: 0 auto;
    column-width: 25em;
}

a {
    text-decoration:none; 
    color:rgb(132, 142, 255);
}
a:hover {text-decoration:underline;}
#hnIcon { vertical-align:middle }
#headerBar { 
    position: fixed; 
    width:100%;
    line-height: 25px; 
    padding: 10px; 
    background: rgb(29, 29, 29); 
    color:rgb(190, 190, 190);
    top:0px; 
    margin-top:0px; 
}
#feedHeader {clear:both;}
.title { 
    font-weight:bold; 
    font-size:15px; 
    margin-top:5px; 
}
#feed, #saved { 
    margin:10px; 
    font-size:12px; 
    padding-bottom:10px; 
}
#feed, #feed a:visited, #feed a.comments { color: #5168ff80;}
.link { 
    margin: 3px 0 10px 0 ;
    white-space: pre-wrap;
}
.comments { 
    font-size:7pt; 
    margin-left:5px; 
}
.error {
    white-space: nowrap;
    color: rgb(255, 147, 147);
}
#toggleButton {
    width:100%; 
    border:none;
}
